soup/task2/soapserver/cars.wsdl

<?xml version="1.0" encoding ="utf-8"?>
<!-- 
(c) World Corp
2019-06-18
let you post/retrieve online message by SOAP protocol

Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
 -->
<definitions name="let you post/retrieve online message by SOAP protocol"
	targetNamespace="us.world_corp.my_soap_forum.wsdl"
	xmlns:tns="us.world_corp.my_soap_forum.wsdl"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsd1="us.world_corp.my_soap_forum.xsd"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
<!-- definition of datatypes -->
	<types>
	<schema targetNamespace="us.world_corp.my_soap_forum.xsd" xmlns="http://www.w3.org/2000/10/XMLSchema">
		<element name="resultcode">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="id">
		<complexType><all><element name="value" type="int" /></all></complexType>
		</element>
		<element name="params">
		<complexType><all><element name="value" type="string" /></all></complexType>
		</element>
		<element name="void">
		<complexType><sequence></sequence></complexType>
		</element>
	</schema>
	</types>
<!-- response messages -->
	<message name='returns_resultcode'>
	<part name='resultcode' type='xsd:resultcode'/>
	</message>
<!-- request messages -->
	<message name='getAllCars'>
	<part name='void' type='xsd:void'/>
	</message>
	<message name='getOneCar'>
	<part name='id' type='xsd:id'/>
	</message>
	<message name='getCarsByParams'>
	<part name='params' type='xsd:params'/>
	</message>
<!-- server's services -->
	<portType name='my SOAP forum'>
		<operation name='getAllCars'>
		<input message='tns:getAllCars'/>
		<output message='tns:returns_resultcode'/>
		</operation>
		<operation name='getOneCar'>
		<input message='tns:getOneCar'/>
		<output message='tns:returns_resultcode'/>
		</operation>
		<operation name='getCarsByParams'>
		<input message='tns:getCarsByParams'/>
		<output message='tns:returns_resultcode'/>
		</operation>
	</portType>
<!-- server encoding -->
	<binding name='my SOAP forum_webservices' type='tns:my SOAP forum'>
	<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
		<operation name='getAllCars'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getAllCars'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getOneCar'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getOneCar'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
		<operation name='getCarsByParams'>
		<soap:operation soapAction='urn:xmethods-delayed-quotes#getCarsByParams'/>
		<input><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></input>
		<output><soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/></output>
		</operation>
	</binding>
<!-- access to service provider -->
	<service name='exemple'>
	<port name='exemple_0' binding='my SOAP forum_webservices'>
	<!-- <soap:address location='http://mysite.local/soap/task2/soapserver/SoapServer.php'/> -->
	<soap:address location='http://tc.geeksforless.net/~user15/php/soup/task2/soapserver/SoapServer.php'/>
	</port>
	</service>
</definitions>
